.form-group {
    display: flex;
    padding: 8px 0px 4px 0px;
}

.btn-outline-success-theme {
    color: #01d099;
    background-color: transparent;
    background-image: none;
    border-color: #01d099;
}


.btn-sm-theme {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}